
h4 {
  font-size: 1.6em;
  text-transform: uppercase;
  color: #222;
}

a:hover{
  text-decoration: none;
}

.btn a {color: #fff; }
.btn a:hover {
  color: #343a40;
  text-decoration: none;
}
.claim-btn { width: 100%; }
.edit-btn  { padding: .2rem .825rem; }
.new-job a { color: #fff; }

td > .btn-outline-primary{
  color: #443453;
  border-color: #443453;;
}

td > .btn-outline-primary:hover{
    color: #fff;
    background-color: #443453;
    border-color: #443453;
}

.dashboard-body {
  font-size: .75rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.table-sm td { padding: 0.8rem; }
.avail-jobs  { font-size: 1.4em; }
.avail-jobs-badge{ padding: 1em 1.5em; }

.card-body img{
  width: 60px;
} 

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.ico_help {
  margin: 5px 0px 10px 5px;
  height: 24px;
  width: 24px;
}

.search-text{ font-size: 1.6em; }
.search-bar {
    padding: 10px 10px 1.5em 10px;
    width: 50%;
}

.dropdown-menu a { color: #222; }


#search-bar-dropdown {
    background: #443453;
    color: #fff;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#search-input{
  margin-left: 10px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

 #map {
    height: 250px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
 }

 #map_placeholder{
  height: 250px;
  width: 100%;
 }
 #map_placeholder img{
  width: 100%;
  height: 250px;
 }

/*Job Dropdown*/
.panel-body{
  padding-left: 0.8em;
}
.panel-data{
  padding-top: 1em;
}

.qualification-tags{
    padding: .25rem .5rem;
    margin-bottom: .25em;
    font-size: .6rem;
    line-height: 1.25;
    border-radius: .2rem;
}


/*Schedule Styles */




.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

.notification{
  margin-top: 1.5em;
}


/* Side Bar Metrics*/
.metrics {
  margin: 15px 15px 15px 10px;
  height: 135px;
  width: 95%;
  text-align: center;
  font-size: 1.325em; 
  font-weight: 600;
  text-transform: uppercase;
}

.metrics-blue { 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #577F92;
  background-color: rgb(87,127,146,0.05);
  color: #577F92;
}
.metrics-purple {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #443453; 
  background-color: rgb(68,52,83, 0.05);
  color: #443453;
}

.metrics-blue:hover { 
  background-color: rgb(87,127,146,0.2);
}
.metrics-purple:hover {
  background-color: rgb(68,52,83, 0.2);
}
.metrics-nums {
  font-size: 2em; 
}


/*Top Performers */
/*
 * Navbar
 */

/*.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}*/



.onlineIcon{
  fill: green;
  width: 1.5em;
  height: 1.5em;
}

.awardIcon{
  width: 1.5em;
  height: 1.5em;
}


/*NOTIFICATIONS*/

.notification > .featherIcon {
  width: 2.3em;
  height: 2.3em;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent;
  margin-right: 7px;
}

.alert {
  position: relative;
  padding: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

/* For separation between the notifications cards */
.card-text{
  margin-top:-7px;
}

.text{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 

}

/* unvisited link */
/*.card-body a:link, 
.card-body a:visited, 
.card-body a:hover, 
.card-body a:active {
  color: white;
}*/
