/* ============================================= */
/*  PROFILE : styles for profile page goes here  */
/* ============================================= */


#profilePic {
    width: 200px;
}

.dashboard-body{
  font-size: .75em;
  padding-top: .75em;
  padding-bottom: .75em;
}


table {
    /*border-collapse: collapse;*/
    /*border-spacing: 10px 20px;*/
    /*border: 1px solid gray;*/
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

#userInfoTable > tbody{
    margin-bottom: 3em;
    background: #A5CDE5;

}

#qualificationsTable {
    margin-bottom: 3em;
}




/* ============================================= */
/* START: ON/OFF SWITCH                          */
/* ============================================= */

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}
/*
.on
{
  display: none;
}
.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}
input:checked+ .slider .on
{display: block;}
input:checked + .slider .off
{display: none;}*/

.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'ON';
}


/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}


/* ============================================= */
/* END: ON/OFF SWITCH                            */
/* ============================================= */



#emailNotificationsOptions {
    display: none;
}

#alertsNotificationsOptions{
    display: none;
}


#recomendationsButton{
    width: 10px;
}


#reportRange{
    background: #fff; 
    cursor: pointer; 
    padding: 5px 10px; 
    border: 1px solid #ccc; 
    width: 100%;
}