

/*overriding height from main dashboard page    */
@media only screen and (min-width: 800px) {
.cd-schedule .events .events-group > ul {
    height: 898px;
    /* reset style */
    display: block;
    overflow: visible;
    padding: 0;
  }
}