{% extends 'base.html' %}

{% block header %}
    <!-- Custom Styles for Register Page -->
   <link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}

{% block content %}
<div class='register-body text-center'>
   <form method="post" class="form-register">
      <h1 class="h3 mb-3 font-weight-normal">Register</h1>

       <label for="u_id" class="sr-only">Manager_id</label>
      <input name="u_id" id="u_id"  class='form-control' placeholder="ID" required autofocus>

      <label for="username" class="sr-only">Username</label>
      <input name="username" id="username"  class='form-control' placeholder="Username" required autofocus>

       <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" id="password" class='form-control' placeholder='Password'required>

       {% with messages = get_flashed_messages() %}
            {% if messages %}

                {% for message in messages %}
                    <p style="color:red;">{{ message }}</p>
                 {% endfor %}
            {% endif %}
        {% endwith %}

      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      <span class="psw">  <a class="nav-link" href="{{ url_for('auth.login') }}">Already Registered?</a></span>
      <p class="mt-5 mb-3 text-muted">Flexible Worker &copy; 2018</p>
    </form>
</div>

{% endblock %}