{% extends 'base.html' %}

{% block header %}
  <!-- <link href="dashboard.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='css/create.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- <h1>{% block title %}Jobs{% endblock %}</h1> -->
  <!-- {% if g.user %}
    <a class="action" href="{{ url_for('dashboard.create') }}">New</a>
  {% endif %} -->
  <script type="text/javascript"> 

   
  </script>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="dashboard-body">
      <div class="row">

               <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="{{ url_for('static', filename='images/user_avatar.jpg') }}" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name"><a href="{{ url_for('dashboard.user_profile') }}">Joe
                            <strong>David</strong></a>
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <span data-feather="circle"></span>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
             

                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li>
                           <a href="#">
                                <span data-feather="inbox"></span>
                                <span>Inbox</span>
                                <span class="badge badge-pill badge-danger">New</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('dashboard.manager_dashboard') }}">
                                <span data-feather="layout"></span>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span data-feather="users"></span>
                                <span>Employees</span>
                               
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <span data-feather="bar-chart-2"></span>
                                <span>Analytics</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                 <span data-feather="map"></span>
                                <span>Live Maps</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span data-feather="calendar"></span>
                                <span>Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span data-feather="list"></span>
                                <span>Schedule</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               <span data-feather="book"></span>
                                <span>Documentation</span>
                            </a>
                        </li>
                    </ul>
                </div>
          </nav>
        </div>

        <main role="main" class="col-md-12 ml-sm-auto col-lg-10 px-4">

              <div class="col-md-12 col-lg-8 col-sm-12">  
              <form class="create_job_form" method="post">

                <hr>
                <div class="dropdown float-right">
                      <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-info" type="button">Save</button>
                      </div>
                      <select class="custom-select" onchange="jobTemplate(event)" id="inputGroupSelect03">
                        <option selected>Template</option>
                        <option value="0">{{templates[0]['name']}}</option>
                        <option value="1">{{templates[1]['name']}}</option>
                        <option value="2">{{templates[2]['name']}}</option>
                      </select>
                     </div>
                </div>
                

                <div class="form-group">
                <label for="job_title">Job Title</label>
                <small class="form-text text-muted">Name of the job to be created.</small>
                <input class="form-control" name="job_title" id="job_title" placeholder="Job Title"value="{{ request.form['job_title'] }}" required>
                </div>

               <div class="form-group">
                  <label for="job_desc">Job Description</label>
                  <textarea class="form-control" name="job_desc" id="job_desc" placeholder="Enter Job Description">{{ request.form['job_desc'] }}</textarea>
               </div>


                <div class="form-group">
                  <label for="job_credentials">Credentials</label>
                  <small class="form-text text-muted">Credentials Required for an employee to complete a job. <br> Must be a comma separated list.</small>
                  <textarea name="job_credentials" class="form-control" id="job_credentials" rows="3" placeholder="Comma Seperated Values Only">{{ request.form['job_credentials'] }}</textarea>
                </div>
              
                <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="job_city">City</label>
                  <input name="job_city"  id="job_city" type="text" class="form-control"  value="{{ request.form['job_city'] }}">
                </div>
                <div class="form-group col-md-4">
                  <label for="job_state">State</label>
                  <select name="job_state" id="job_state" class="form-control" value="{{ request.form['job_state'] }}">
                    <option selected>Choose...</option>
                    <option>Mississippi</option>
                    <option>Alabama</option>
                    <option>Louisiana</option>
                    <option>Georgia</option>
                    <option>Florida</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="job_zip">Zip</label>
                  <input name="job_zip" type="text" class="form-control" id="job_zip" value="{{ request.form['job_zip'] }}">
                </div>
              </div>

                <hr>
                
                <p><strong>Time Range</strong><small class="form-text text-muted">This is the starting and end time of a job.</small></p>
                
                <div class="form-group">
                  <label for="job_time_beg">Start Time:</label>
                  <input class="form-control" name="job_time_beg" type="time" id="job_time_beg" name="job_time_beg" min="0:00" max="24:00"  value="{{ request.form['job_time_beg'] }}">
                </div>
                 <div class="form-group">
                  <label for="job_time_end">End Time:</label>
                  <input class="form-control" name="job_time_end" type="time" id="job_time_end" name="job_time_end" min="0:00" max="24:00" value="{{ request.form['job_time_end'] }}" >
                </div>

                <hr>
                <p><strong>Date Range</strong>
                  <small class="form-text text-muted">This will make a job at the same time for each day in a given range.</small></p>



                <div class="form-row">
                  <div class="form-group col-md-12 col-sm-12">
                    <label for="job_date_beg">Beginning Date</label>
                    <input class="form-control" type="date" id="job_date_beg" name="job_date_beg" aria-describedby="inputGroupAppend" value="{{ request.form['job_date_beg'] }}"/>
                  </div>
              </div>

            

                <div class="modal" tabindex="-1" role="dialog" id="calendarModal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Calendar Select</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Beginning Date</p>
                        <div id="demo" class="yui3-skin-sam yui3-g"> <!-- You need this skin class -->

                          <div id="leftcolumn" class="yui3-u">
                             <!-- Container for the calendar -->
                             <div id="mycalendar"></div>
                          </div>
                          <div id="rightcolumn" class="yui3-u">
                           <div id="links" style="padding-left:20px;">
                              Selected date: <span id="selecteddate"></span>
                           </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Keep Selections</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-group col-md-12 col-sm-12">
                     <label for="job_date_end">Ending Date</label>
                  <input class="form-control" type="date" id="job_date_end" name="job_date_end" value="{{ request.form['job_date_end'] }}"/>
                  </div>
              </div>

                <div class="modal" tabindex="-1" role="dialog" id="calendarModal2">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Calendar Select</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>End Date</p>
                        <div id="demo" class="yui3-skin-sam yui3-g"> <!-- You need this skin class -->

                          <div id="leftcolumn" class="yui3-u">
                             <!-- Container for the calendar -->
                             <div id="mycalendar2"></div>
                          </div>
                          <div id="rightcolumn" class="yui3-u">
                           <div id="links" style="padding-left:20px;">
                              Selected date: <span id="selecteddate2"></span>
                           </div>
                          </div>
                        </div>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Keep Selections</button>  <!--onclick="window.opener['dateitem'] = selecteddate"-->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!----------------------------- Days of the Week Selection ------------------------------->
                <small class="form-text text-muted">Select Affected Days Of The Week:</small>
                <div class="form-row">
                  <div class="form-group col-md-6 col-sm-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Sunday">
                      <label class="form-check-label" for="inlineCheckbox1">Select All</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Sunday">
                      <label class="form-check-label" for="inlineCheckbox1">Sunday</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Monday">
                      <label class="form-check-label" for="inlineCheckbox2">Monday</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Tuesday">
                      <label class="form-check-label" for="inlineCheckbox3">Tuesday</label>
                    </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Wednesday">
                      <label class="form-check-label" for="inlineCheckbox4">Wednesday</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Thursday">
                      <label class="form-check-label" for="inlineCheckbox5">Thursday</label>
                    </div>
                     <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Friday">
                      <label class="form-check-label" for="inlineCheckbox6">Friday</label>
                    </div>
                     <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="Saturday">
                      <label class="form-check-label" for="inlineCheckbox7">Saturday</label>
                    </div>
                     </div>
                </div>

                <hr>
                <div class="form-group">
                  <label for="job_extra">Multiple Job Count</label>
                  <small class="form-text text-muted">The number of duplicate job postings to make for each day.</small>
                  <input name="job_extra" class="form-control" type=number name="job_extra" id="job_extra" value="{{ request.form['job_extra'] }}" min="0"/>
                </div>
                
                <br>
          
               <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    <small class="text-muted form-text">Create New Template for current Job. </small>
                  </label>
                </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <a class="btn btn-sm btn-outline-secondary" href="/" role="button">Cancel</a>
                    
                  </div>

                  <div class="form-group col-md-6">
                    <div class="float-right">
                      <input class=" btn btn-sm btn-outline-info" type="submit" value="Save">
                      <input class=" btn btn-sm btn-info" type="submit" value="Publish">
                    </div>
                  </div>

                </div>

              </form>

            </div> <!-- End of Form column div -->
        </main>
      </div>
    </div>
  </div>



  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script> 
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script> -->

  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>

  <script type="text/javascript">
     var templates = [
      ['{{ templates[0]['name'] }}', '{{ templates[0]['job_title']}}', '{{ templates[0]['job_desc']}}', '{{ templates[0]['job_credentials']}}', '{{ templates[0]['job_city']}}', '{{ templates[0]['job_state']}}', '{{ templates[0]['job_zip']}}'],
      ['{{ templates[1]['name'] }}', '{{ templates[1]['job_title']}}', '{{ templates[1]['job_desc']}}', '{{ templates[1]['job_credentials']}}', '{{ templates[1]['job_city']}}', '{{ templates[1]['job_state']}}', '{{ templates[1]['job_zip']}}'], 
      ['{{ templates[2]['name'] }}', '{{ templates[2]['job_title']}}', '{{ templates[2]['job_desc']}}', '{{ templates[2]['job_credentials']}}', '{{ templates[2]['job_city']}}', '{{ templates[2]['job_state']}}', '{{ templates[2]['job_zip']}}'],
    ]

    
    function jobTemplate(e) {
       t_id = e.target.value
       console.log("ID:" + e.target.value)

       t_name = templates[t_id][0]
       job_title = document.getElementById("job_title")
       job_desc = document.getElementById("job_desc")
       job_credentials = document.getElementById("job_credentials")
       job_city = document.getElementById("job_city")
       job_state = document.getElementById("job_state")
       job_zip = document.getElementById("job_zip")

       job_title.value = templates[t_id][1]
       job_desc.value = templates[t_id][2]
       job_credentials.value = templates[t_id][3]
       job_city.value = templates[t_id][4]
       job_state.value = templates[t_id][5]
       job_zip.value = templates[t_id][6]
       
    }


  </script>
{% endblock %}