{% extends 'base.html' %}

{% block header %}

  	<h1>{% block title %}Profile{% endblock %}</h1>
  	<link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">

    <!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
	<!--     <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>-->

	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


{% endblock %}

{% block content %}



<div class="panel panel-info">

	<div class="panel-body">

		<div class = "row">
			<div class="col-md-3 col-lg-3" align="center">  </div>

			 <div class="col-md-6 col-lg-6" align = "center"> 
			 	<!-- <div class="media"> -->
					<img id= "profilePic" class="mr-3" src="{{ url_for('static', filename='images/profileIcon.png') }}", alt="Generic placeholder image">
					
					<!-- <div class="media-body"> -->
						<h4 class="mt-0">{{ g.user['username'] }}</h4>
					<!-- </div> -->
			 	<!-- </div> -->
			</div>
		</div>

		<div class="row">
	    
	    	<div class="col-md-3 col-lg-3 " align="center">  </div>
		    	    
		    <div class=" col-md-6 col-lg-6 "> 

		      <table id = "userInfoTable" class="table table-user-information">
		        <tbody>

		          <tr>
		            <td> <b> PERSONAL INFORMATION </b></td>
		            <td> <a id="editButton" href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm"> Edit</a> </td>

		            <!-- MODAL CONTAINING FORM -->
					<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
					  aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header text-center">
					        <h4 class="modal-title w-100 font-weight-bold"> Edit your information below: </h4>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
							<div class="form-group row">
								<div class="col-3">
									<label for="nameInput" class="col-2 col-form-label">Name: </label>
								</div>
							  	<div class="col-9">
							    	<input class="form-control" type="text" value="Joe David" id="nameInput">
							  	</div>
							</div>
							<div class="form-group row">
								<div class="col-3">
							 		<label for="usernameInput" class="col-2 col-form-label">Username: </label>
							 	</div>
							    <div class="col-9">
							    	<input class="form-control" type="text" value="{{ g.user['username'] }}" id="usernameInput">
							    </div>
							</div>
							<div class="form-group row">
								<div class="col-3">
							  		<label for="emailInput" class="col-2 col-form-label">Email: </label>
							  	</div>
							  	<div class="col-9">
							    	<input class="form-control" type="email" value="joedavid@example.com" id="emailInput">
							 	 </div>
							</div>
							<div class="form-group row">
								<div class="col-3">
									<label for="genderInput" class="col-2 col-form-label">Gender: </label>
								</div>
							  	<div class="col-9">
							    	<!-- <input class="form-control" type="text" value="Masculine" id="genderInput"> -->
							    	<!-- Select Basic -->
									    <select id="selectbasic" name="selectbasic" class="form-control">
									      <option value="1"> Men </option>
									      <option value="2"> Woman </option>
									    </select>
							  	</div>
							</div>
							<div class="form-group row">
								<div class="col-3">
							  		<label for="addressInput" class="col-2 col-form-label">Address: </label>
							  	</div>
							  <div class="col-9">
							    <input class="form-control" type="text" value="Starkville, MS" id="addressInput">
							  </div>
							</div>
					      </div>
					      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
						  </div>
					    </div>
					  </div>
					</div>

		          </tr>

		          <tr>
		            <td>Name:</td>
		            <td>Joe David</td>
		          </tr>

		          <tr>
		            <td>Username:</td>
		            <td> {{ g.user['username'] }}</td>
		          </tr>

		          <tr>
		            <td>Age:</td>
		            <td>20</td>
		          </tr>
		       
		          <tr>
		            <td>Gender:</td>
		            <td>Men</td>
		          </tr>

		          <tr>
		            <td>Address:</td>
		            <td>Starkville, MS</td>
		          </tr>

		        </tbody>
		      </table>

		      <table id = "qualificationsTable" class="table table-user-information">
		        <tbody>

		          <tr>
		            <td> <b> QUALIFICATIONS </b> </td>
		            <td> <a id="recommendationsButton" href="#" class="btn btn-primary" data-toggle="modal" data-target="#recsModal">Recommendations</a> </td>
			            <!-- Modal -->
						<div class="modal fade" id="recsModal" tabindex="-1" role="dialog" aria-labelledby="recsModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="recsModalLabel">Recomended Qualifications</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        The following qualifications are recommended for your position:
						        Q1 & Q2.
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
		          </tr>

		          <tr>
		            <td> <a href = "#" data-toggle="modal" data-target="#q1Modal" > Q1 </a> </td>
			            <!-- Modal -->
						<div class="modal fade" id="q1Modal" tabindex="-1" role="dialog" aria-labelledby="q1ModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="q1ModalLabel">Q1: Qualification Name</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        This qualification consists of ...
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>

		            <td> <a href="#" data-toggle="modal" data-target="#q2Modal" > Q2 </a> </td>
			            <!-- Modal -->
						<div class="modal fade" id="q2Modal" tabindex="-1" role="dialog" aria-labelledby="q2ModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="q2ModalLabel">Q2: Qualification Name</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        This qualification consists of ...
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
		          </tr>

		          <tr>
		            <td> <a href="#" data-toggle="modal" data-target="#q3Modal"  > Q3 </a> </td>
			            <!-- Modal -->
						<div class="modal fade" id="q3Modal" tabindex="-1" role="dialog" aria-labelledby="q3ModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="q3ModalLabel">Q3: Qualification Name</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        This qualification consists of ...
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>

		            <td> <a href="#" data-toggle="modal" data-target="#q4Modal"  > Q4 </a> </td>
			            <!-- Modal -->
						<div class="modal fade" id="q4Modal" tabindex="-1" role="dialog" aria-labelledby="q4ModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="q4ModalLabel">Q4: Qualification Name</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        This qualification consists of ...
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						      </div>
						    </div>
						  </div>
						</div>
		          </tr>
		
		        </tbody>
		      </table>

		      <table id = "settingsTable" class="table table-user-information">
		        <tbody>

		          <tr>
		            <td> <b> SETTINGS </b> </td>
		            <td></td>
		          </tr>

		          <tr>
		            <td> Color Scheme </td>
		            <td>
		            	<!-- Select Basic -->
						<!-- <div class="form-group">
						    <select id="selectbasic" name="selectbasic" class="form-control">
						      <option value="1">Light </option>
						      <option value="2">Dark </option>
						    </select>
						</div>  -->	
						<div class="btn-group" role="group" aria-label="Basic example">
						  <button type="button" class="btn btn-secondary">Light</button>
						  <button type="button" class="btn btn-secondary">Dark</button>
						</div>
		            </td>
		          </tr>

		          <tr>
		            <td> Alerts </td>
		            <td>
		            	<!-- Rounded switch -->
		            	<!-- https://stackoverflow.com/questions/39846282/how-to-add-the-text-on-and-off-to-toggle-button -->
						<label class="switch">
							<input type="checkbox">
							<div class="slider round float-left"></div>
						</label>
		            </td>
		          </tr>

		          <!-- if on, frequency -->
<!-- 		          <tr id="alertsNotificationsOptions">
		            <td> Frequency </td>
		            <td>
  							<label><input type="radio" name="frequency" checked>Hourly</label>
  							<label><input type="radio" name="frequency">Weekly</label>
		            </td>
		          </tr> -->

		          <tr>
		            <td> Email Notifications </td>
		            <td>
		            	<!-- Rounded switch -->
		            	<!-- https://stackoverflow.com/questions/39846282/how-to-add-the-text-on-and-off-to-toggle-button -->
						<label class="switch">
							<input type="checkbox">
							<div class="slider round"></div>
						</label>
		            </td>
		          </tr>

		
				<!-- need to add button to save settings if changes were made - ?? -->


<!-- 		   	  <table id = "othersTable" class="table table-user-information">
		        <tbody> 

		          <tr id="emailNotificationsOptions">
		            <td> Frequency </td>
		            <td>
						<div class="btn-group" role="group" aria-label="Basic example">
						  <button type="button" class="btn btn-secondary">Hourly</button>
						  <button type="button" class="btn btn-secondary">Weekly</button>
						</div>
		            </td>
		          </tr>

		        </tbody>
		     </table> -->



		   	  <table id = "othersTable" class="table table-user-information">
		        <tbody>

		          <tr>
		            <td> <b> OTHERS </b></td>
		            <td></td>
		          </tr>

		          <tr>
		            <td> View Past Jobs </td>
		            <td> 
						<div id="reportRange">
						    <span data-feather="calendar"></span>
						    <span></span>  <span data-feather="arrow-down-circle"></span>
						</div>
		            </td>
		          </tr>

		          <tr>
		            <td> Schedule Vacations </td>
		            <td>  ### </td>
		          </tr>

		          <tr>
		            <td> Request Time Off </td>
		            <td> ### </td>
		          </tr>

				  <tr>
		            <td> View W2 </td>
		            <td> ### </td>
		          </tr>

		        </tbody>
		     </table>

		    </div>
		</div>
	</div>


<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>

<!-- 
<script type="text/javascript">
function displayEmailNotificationsOptions() {
    var x = document.getElementById("emailNotificationsOptions");

    if (x.style.display == "none" || x.style.display == "") {
        x.style.display = "inline";
    } else { 
        x.style.display = "none";
    }
}

function displayAlertsNotificationsOptions() {
    var x1 = document.getElementById("alertsNotificationsOptions");

    if (x1.style.display == "none" || x1.style.display == "") {
        x1.style.display = "block";
    } else {
        x1.style.display = "none";
    }
}
</script> -->


<!-- http://www.daterangepicker.com/#example1 -->
<script type="text/javascript">
	$(function() {

	    var start = moment().subtract(29, 'days');
	    var end = moment();

	    function cb(start, end) {
	        $('#reportRange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
	    }

	    $('#reportRange').daterangepicker({
	        startDate: start,
	        endDate: end,
	        ranges: {
	           'Today': [moment(), moment()],
	           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
	           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
	           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
	           'This Month': [moment().startOf('month'), moment().endOf('month')],
	           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
	        }
	    }, cb);

	    cb(start, end);

	});
</script>



<!-- need to store information - ? -->


{% endblock %}