{% extends 'base.html' %}

{% block header %}
  <link href="{{ url_for('static', filename='css/create.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- <h1>{% block title %}Edit "{{ job['job_title'] }}"{% endblock %}</h1> -->
{% endblock %}

{% block content %}


  <div class="container-fluid">
    <div class="dashboard-body">
      <div class="row">

        <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-header">
                    <div class="user-pic">
                         <img class="img-responsive img-rounded" src="{{ url_for('static', filename='images/user_avatar.jpg') }}" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">Scarlett
                            <strong>Ordway</strong>
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <span data-feather="circle"></span>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
              <div class="sidebar-search">
              {% if g.user %}
              <div class="new-job">
                <h6 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                  <a class="action" href="{{ url_for('dashboard.create') }}"><span>Create Job</span></a>
                  <a class="d-flex align-items-center text-muted" href="#">
                  <span data-feather="plus-circle"></span> </a>
                </h6>
              </div>
              {% endif %} 
              </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li>
                           <a href="#">
                                <span data-feather="inbox"></span>
                                <span>Inbox</span>
                                <span class="badge badge-pill badge-danger">New</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('dashboard.manager_dashboard') }}">
                                <span data-feather="layout"></span>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span data-feather="users"></span>
                                <span>Employees</span>
                                <span class="badge badge-pill badge-primary">3</span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <span data-feather="bar-chart-2"></span>
                                <span>Analytics</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                 <span data-feather="map"></span>
                                <span>Live Maps</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                 <span data-feather="calendar"></span>
                                <span>Calendar</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span data-feather="list"></span>
                                <span>Schedule</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                 <span data-feather="book"></span>
                                <span>Documentation</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <span data-feather="bell"></span>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <span data-feather="mail"></span>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <span data-feather="settings"></span>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
      </div>
      

        <!-- Main Content -->
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">


          <div class="col-md-10 col-lg-8 col-sm-12">  
              <form class="create_job_form" method="post">

                <hr>
                <div class="dropdown float-right">
                  <!-- <button class="btn btn-sm btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Use Template
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Template A</a>
                    <a class="dropdown-item" href="#">Template B</a>
                    <a class="dropdown-item" href="#">Template C</a>
                  </div> -->
                  <div class="float-right"><input class=" btn btn-sm btn-outline-info" type="submit" value="Save"></div>
                </div>

                <div class="form-group">
                <label for="job_title">Job Title</label>
                <small class="form-text text-muted">Name of the job to be created.</small>
                <input class="form-control" name="job_title" id="job_title" placeholder="Job Title"
                   value="{{ request.form['job_title'] or job['job_title'] }}" required>
                </div>

               <div class="form-group">
                  <label for="job_desc">Job Description</label>
                  <textarea class="form-control" name="job_desc" id="job_desc" placeholder="Enter Job Description">{{ request.form['job_desc'] or job['job_desc'] }}</textarea>
               </div>
              
             

               <div class="form-group">
                  <label for="job_credentials">Credentials</label>
                  <small class="form-text text-muted">Credentials Required for an employee to complete a job. <br> Must be a comma separated list.</small>
                  <textarea name="job_credentials" class="form-control" id="job_credentials" rows="3" placeholder="Comma Seperated Values Only">{{request.form['job_credentials'] or job['job_credentials']}}</textarea>
                </div>
              
                <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="job_city">City</label>
                  <input name="job_city"  id="job_city" type="text" class="form-control"  value="{{ request.form['job_city'] or job['job_city']}}">
                </div>
                <div class="form-group col-md-4">
                  <label for="job_state">State</label>
                  <select name="job_state" id="job_state" class="form-control" value="{{ request.form['job_state'] or job['job_state']}}">
                    <option selected>Choose...</option>
                    <option>Mississippi</option>
                    <option>Alabama</option>
                    <option>Louisiana</option>
                    <option>Georgia</option>
                    <option>Florida</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="job_zip">Zip</label>
                  <input name="job_zip" type="text" class="form-control" id="job_zip" value="{{ request.form['job_zip'] or job['job_zip'] }}">
                </div>
              </div>

                <hr>

                <p><strong>Time Range</strong><small class="form-text text-muted">This is the starting and end time of a job.</small></p>
                
                <div class="form-group">
                  <label for="job_time_beg">Start Time:</label>
                  <input class="form-control" name="job_time_beg" type="time" id="job_time_beg" name="job_time_beg" min="0:00" max="24:00"  value="{{ request.form['job_time_beg'] or job['job_time_beg'] }}">
                </div>
                 <div class="form-group">
                  <label for="job_time_end">End Time:</label>
                  <input class="form-control" name="job_time_end" type="time" id="job_time_end" name="job_time_end" min="0:00" max="24:00" value="{{ request.form['job_time_end'] or job['job_time_end'] }}" >
                </div>

                <hr>
                <p><strong>Date Range</strong>
                  <small class="form-text text-muted">This will make a job at the same time for each day in a given range.</small></p>


                <div class="form-row">
                  <div class="form-group col-md-12 col-sm-12">
                    <label for="job_date_beg">Beginning Date</label>
                    <input class="form-control" type="date" id="job_date_beg" name="job_date_beg" aria-describedby="inputGroupAppend"/>
                  </div>
              </div>

                <div class="form-row">
                  <div class="form-group col-md-12 col-sm-12">
                     <label for="job_date_end">Ending Date</label>
                  <input class="form-control" type="date" id="job_date_end" name="job_date_end" />
                  </div>
              </div>
                <!----------------------------- Days of the Week Selection ------------------------------->
                <small class="form-text text-muted">Select Affected Days Of The Week:</small>
                <div class="form-row">
                  <div class="form-group col-md-6 col-sm-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Sunday">
                      <label class="form-check-label" for="inlineCheckbox1">Select All</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Sunday">
                      <label class="form-check-label" for="inlineCheckbox1">Sunday</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Monday">
                      <label class="form-check-label" for="inlineCheckbox2">Monday</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Tuesday">
                      <label class="form-check-label" for="inlineCheckbox3">Tuesday</label>
                    </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Wednesday">
                      <label class="form-check-label" for="inlineCheckbox4">Wednesday</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Thursday">
                      <label class="form-check-label" for="inlineCheckbox5">Thursday</label>
                    </div>
                     <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="Friday">
                      <label class="form-check-label" for="inlineCheckbox6">Friday</label>
                    </div>
                     <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="Saturday">
                      <label class="form-check-label" for="inlineCheckbox7">Saturday</label>
                    </div>
                     </div>
                </div>

                <hr>
                <div class="form-group">
                  <label for="job_extra">Multiple Job Count</label>
                  <small class="form-text text-muted">The number of duplicate job postings to make for each day.</small>
                  <input name="job_extra" class="form-control" type=number name="job_extra" id="job_extra" value="{{ request.form['job_extra'] or job['job_extra'] }}" min="0"/>
                </div>
                
                <br>
          
               <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    <small class="text-muted form-text">Create New Template for current Job. </small>
                  </label>
                </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <a class="btn btn-sm btn-outline-secondary" href="/" role="button">Cancel</a>
                  </div>

                  <div class="form-group col-md-6">
                    <div class="float-right">
                      <input class=" btn btn-sm btn-outline-info" type="submit" value="Save" onclick="return confirm('Save Job as Draft?')">
                      <input class=" btn btn-sm btn-info" type="submit" value="Publish" onclick="return confirm('Confirm Job Publication?')">
                    </div>
                  </div>
                </div>

                </form>
                <hr>
                 <form action="{{ url_for('dashboard.delete', id=job['job_id']) }}" method="post">
                      <input class="btn btn-sm btn-block btn-outline-danger danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                 </form>
               
            </div>

        </main>
      </div>
    </div>
  </div>



  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
{% endblock %}